#one{
    color: red;
    border: 10px solid black;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
#two{
    color: white;
    word-spacing: 10px;
    text-align: center;
}
}
button{
    background-color: coral;
    color: white;
    border-radius: 8px;
    text-align: center;
}
